<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css">
    <title>Edit User</title>
</head>
<body>
    <div class="edit-container">
        <div class="edit-header">
            <h1>Edit Karyawan</h1>
        </div>
        <% if(error){ %>
          <div class="alert alert-danger" role="alert">
              <%=message%>
          </div>
          <% } %>
        <div class="table-edit-wrapper">
            <table class="table table-striped">
                <thead>
                  <tr class="table-dark">
                    <th scope="col">Kode Karyawan</th>
                    <th scope="col">Nama Karyawan</th>
                    <th scope="col">Tanggal Masuk (DD/MM/YYYY)</th>
                    <th scope="col">No Hp</th>
                    <th scope="col">Limit Reimbursement</th>
                    <th scope="col">Last Updated Date (DD/MM/YYYY)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <form action="/update_user/<%=hasil.kode_karyawan%>" method="POST">
                    <th scope="row"><%=hasil.kode_karyawan%></th>
                    <td><input type="text" name="nama_karyawan" required value=<%=hasil.nama_karyawan%>></td>
                    <td><input type="text" name="tgl_masuk" required value=<%=hasil.tanggal_masuk.getDate()%>-0<%=hasil.tanggal_masuk.getMonth()+1%>-<%=hasil.tanggal_masuk.getFullYear()%>></td>
                    <td><input type="text" name="no_hp" required maxlength="12" value=<%=hasil.no_hp%>></td>
                    <td><input type="number" name="limit_reim" required value=<%=hasil.limit_reimburse%>></td>
                    <td><%=hasil.updated_date.getDate()%>-0<%=hasil.updated_date.getMonth()+1%>-<%=hasil.updated_date.getFullYear()%></td>
                  </tr>
                </tbody>
              </table>
                <button type="submit" class="btn btn-primary update"> Update</button>
             </form>
        </div>
        <a href="/menu_cariuser" class="btn btn-info kembali"> Kembali </a>
    </div>
</body>
</html>